<h1>hello world, my name is marvin</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i>Stukdo</h1>
  <p>...</p>
<%= link_to "Sign Up", "#" class:  "btn btn-primary btn-lg"%>
</div>